/* Custom CSS for bootstrap-cv */

#cv-body{
  padding-top: 50px;
}

h1{
  font-weight: bold;
}

h3{
  color: #811010;
  font-weight: bold;
}

h4{
  font-weight: bold;
}

p{
  color: #808080;
}

.info{
  color: #808080;
}
